#result {
  max-height: 30rem;
  overflow-y: scroll;
}

h3 {
  width: 12rem;
  overflow-x: scroll;
}

.input-box {
  width: 25vw !important;
}

.input-button {
  width: fit-content;
}

@media (max-width: 425px) {
  .input-box {
    width: 75vw !important;
  }
}

div[name="a"]{
  color: aqua;
}