#result {
  max-height: 30rem;
  overflow-y: scroll;
}

h3 {
  width: 10rem;
  max-height: 2rem;
  overflow-x: scroll;
  overflow-y: scroll;
}

.input-box {
  width: 25vw !important;
}

.input-button {
  width: fit-content;
}

.hidden-item {
  display: none !important;
}

@media (max-width: 425px) {
  .input-box {
    width: 75vw !important;
  }
}
